name: Cloud9
on:
  push:
    paths:
    - 'cloud9/**'
    branches:
      - master
    tags:
      - '*'
  pull_request:
  schedule:
    - cron: '0 9 * * *'
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: build and push image
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: denhamparry/cloud9
        dockerfile: cloud9/Dockerfile
        always_pull: true
        tags: latest
    - name: Scan image
      uses: homoluctus/gitrivy@v1.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        image: denhamparry/cloud9:latest
