name: Cloud9
on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: build and push image
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: denhamparry/cloud9
        dockerfile: cloud9/Dockerfile
        always_pull: true
        tags: latest

name: Vulnerability Scan

on:
  schedule:
    - cron: '11 16 * * *'

jobs:
  scan:
    name: Daily Vulnerability Scan
    runs-on: ubuntu-18.04
    steps:
      - name: Pull docker image
        run: docker pull sample

      - uses: homoluctus/gitrivy@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          image: denhamparry/cloud9:latest
